[submodule "projects/G4/dna-secondary-struct-chrom-lands"]
	path = projects/G4/dna-secondary-struct-chrom-lands
	url = https://github.com/sblab-bioinformatics/dna-secondary-struct-chrom-lands.git
[submodule "projects"]
	path = projects
	url = git@github.com:adebali/projects
